<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">
<beans>
    <bean id="regedit" class="com.gc.service.impl.RegeditImpl">
</bean>
<bean name="/regedit" class="com.gc.action.RegeditAction">
     <property name="regedit">
        <ref bean="regedit"/>
     </property>
</bean>
<bean name="/input" class="com.gc.action.RegeditAction">
     <property name="regedit">
        <ref bean="regedit"/>
     </property>
</bean>
</beans>
